* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0f;
  color: #f0f0f0;
}

.AND,
.OR {
  display: flex;
  gap: 10px;
}

.OR {
  flex-direction: column;
}

.NOT {
  text-decoration: line-through;
}
