@font-face {
  font-family: "Ubuntu Mono";
  src: url("fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

:root {
  --font-base: "Open Sans", sans-serif;
  --font-mono: "Ubuntu Mono", monospace;
  --color-bg: #1f1f1f;
  --color-bg-darker: #1a1a1a;
  --color-text: #eaeaea;
  --color-text-muted: #a0a0a0;
  --color-border: #303030;
  --color-scrollbar: #4a4a4a;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f0f0f0;
    --color-bg-darker: #e0e0e0;
    --color-text: #0a0a0a;
    --color-text-muted: #0a0a0ad0;
    --color-border: #c5c5c5;
    --color-scrollbar: #bababa;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  font-size: 16px;
  background-color: var(--color-bg);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: top;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  width: 100vw;
  height: calc(100vh - 10em);
}

.scrollable::-webkit-scrollbar {
  width: 0.5em;
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}
