#console {
  border-top: 1px solid var(--color-border);
  height: 10em;
  padding: 0.5em;
  overflow-y: scroll;
  background-color: var(--color-bg-darker);
}

.message {
  font-family: var(--font-mono);
}

.message.ERROR {
  color: #fca5a5;
}

.message.WARN {
  color: #fde68a;
}
