.network {
  display: flex;
  justify-content: space-between;
  border-left: solid 3px var(--color-text);
  border-right: solid 3px var(--color-text);
  position: relative;
}

.network::before {
  content: "";
  position: absolute;
  top: 53px;
  width: 100%;
  height: 3px;
  background: var(--color-text);
  z-index: -1;
}

.expression-node {
  display: flex;
  width: fit-content;
  height: fit-content;
}

.OR {
  flex-direction: column;
  gap: 30px;
}

.relay-node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-bg);
  align-items: center;
  border-radius: 5px;
  gap: 13px;
  width: 105px;
  height: 105px;
  text-align: center;
}

.NOT {
  text-decoration: line-through;
}

.node-address,
.node-label {
  font-family: monospace;
  color: var(--color-text-muted);
}

.node-address:hover,
.node-address:focus {
  color: var(--color-text);
}

.node-icon {
  font-family: monospace;
  font-weight: bold;
  font-size: 25px;
}

.node-icon,
.node-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
