.network {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-weight: 500;
}

.network-nodes {
  display: flex;
  justify-content: space-between;
  border-left: solid 0.25em var(--color-text);
  border-right: solid 0.25em var(--color-text);
  position: relative;
}

.network-nodes .disjunctive-node,
.network-nodes .conjunctive-node {
  display: flex;
  min-width: fit-content;
  min-height: fit-content;
}

.network-nodes::before,
.disjunctive-node::before,
.conjunctive-node::before {
  content: "";
  position: absolute;
  top: 2em;
  left: 0em;
  width: 100%;
  height: auto;
  border-top: solid 0.25em var(--color-text);
  z-index: -1;
}

.disjunctive-node {
  flex-direction: column;
  gap: 2em;
  position: relative;
}

.disjunctive-node > .conjunctive-node {
  width: 100%;
}

.disjunctive-node::before {
  content: "";
  position: absolute;
  top: 2em;
  bottom: 1.75em;
  width: 100%;
  height: auto;
  border-right: solid 0.25em var(--color-text);
  z-index: -1;
}
.conjunctive-node {
  position: relative;
}

.relay-node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4em;
  width: fit-content;
  align-items: center;
  text-align: center;
  position: relative;
  gap: 0.5em;
}

.node-address,
.node-label {
  font-family: var(--font-mono);
  color: var(--color-text-muted);
}

.node-address:focus {
  color: var(--color-text);
}

.node-icon {
  cursor: grab;
  font-family: var(--font-mono);
  background-color: var(--color-bg);
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-weight: bold;
  font-size: 1.5em;
}

.node-icon,
.node-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
